<app-load-screen
        [width]="width"
        [height]="height"
        [show]="!display">
</app-load-screen>
<app-tutorial
help="Clique em alguma semana (os circulos amarelos) para visualizar os tópicos
da semana selecionada. Os circulos cinza não estão ativos, pois não foi possível
coletar estes dados.">
</app-tutorial>
<div id="{{innerId}}-weeks" [ngClass]="{'invisible': display === false}"></div>
<div id="{{innerId}}-content" [ngClass]="{'invisible': display === false}"></div>
<div id="tooltip"></div>