<app-load-screen
        [width]="width"
        [height]="height"
        [show]="!display">
</app-load-screen>
<div id="map" [ngClass]="{'invisible': display === false}"></div>
<div id="tooltip"></div>

<div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin: 10px 20px; width: inherit;">
    <div>
        <button
            color="primary"
            mat-mini-fab
            (click)="download()">
            <mat-icon>file_download</mat-icon>
        </button>
    </div>
</div>
