
.backBtn {
    position: relative;
    top: -40px;
    left: -20px;
}

.mat-icon{
    --icon-size: 20px;
    height: var(--icon-size) !important;
    width: var(--icon-size) !important;
    font-size: var(--icon-size) !important;
}