div {
    color: #a9a9bd;
}

#tooltip {
    background-color: rgb(46, 43, 43);
    border-radius: 5px;
    color: white;
    width: 200px;
    position: absolute;
    pointer-events: none;
    padding: 5px;
    visibility: hidden;
}