<div class="home">
<mat-toolbar class="header">
  <div style="display: flex; justify-content: center; width: 100%;">
    <span class="logo"> <app-logo></app-logo></span>

  </div>
</mat-toolbar>

<div class="body">
  <div class="left sticky">
    <ul class="topics">
      <li><a href="#introducao">Introdução</a></li>
      <li><a href="#dados">Dados</a></li>
      <li><a href="#bots">Bots</a></li>
      <li><a href="#polarizacao">Polarização</a></li>
      <li><a href="#caracterizacao">Caracterização</a></li>
      <li><a href="#conclusao">Conclusão</a></li>
    </ul>
  </div>

  <div class="main">
    <section id="introducao">
      <h2>Introdução</h2>
      <p>
        Após 36 semenas de coletas de tweets relacionados a pandemia de
        COVID-19
      </p>

    </section>

    <section id="dados">
      <h2>Dados</h2>

    </section>

    <section id="bots">
      <h2>Bots</h2>
    </section>

    <section id="polarizacao">
      <h2>Polarização</h2>
    </section>

    <section id="caracterizacao">
      <h2>Caracterização</h2>
      <p>
        O gráfico a seguir apresenta os estados onde foram identificados
        as maiores quantidades de tweets do país. É interessante notar que o
        estado de São Paulo é o que apresenta a maior quantidade em todas as
        semanas analisadas. Outra ponto interessante é um pico na 17ª semana
        no estado do Amazonas, possívelmente devido a decisão do governo de
        adiar o retorno às aulas<sup>[1]</sup>
      </p>
      <app-map></app-map>
    </section>

    <section id="conclusao">
      <h2>Conclusão</h2>
    </section>
    <section id="referencia">
      <h2>Referências</h2>
      <div class="citation">
        <span>[1]</span>
        <a href="https://g1.globo.com/am/amazonas/noticia/2020/08/21/governo-adia-retorno-das-aulas-do-ensino-fundamental-em-manaus.ghtml">
          https://g1.globo.com/am/amazonas/noticia/2020/08/21/governo-adia-retorno-das-aulas-do-ensino-fundamental-em-manaus.ghtml
        </a>
      </div>
    </section>
  </div>

  <div class="right">

  </div>

</div>
<div class="footer">
  Lorem

</div>
</div>