div.home {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0;
    left: 0;
    height: 65px;

    width: 100%;
    height: 100%;


    button.menu-toggle {
        color: lawngreen;
    }

    mat-toolbar.header {
        position: absolute;
        top: 0;
        background-color: rgb(32, 32, 32);
        z-index: 999;
    }

    span.logo {
        color: rgb(237, 240, 234);
    }
}

div.menu {
    position: fixed;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: rgb(70, 70, 70);
}

div.body {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    min-height: 800px;
    margin-top: 25px;
}

div.left, div.main, div.right {
    width: 15%;
}

div.left {
    height: 100%;
}

div.main {
    padding: 40px 30px;
    width: 70%;
    height: 100%;
    border-left: 1px solid rgb(75, 73, 73);
    border-right: 1px solid rgb(75, 73, 73);
}

div.right {
    height: 50%;

}

div.footer {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(32, 32, 32);
    bottom: 0;
    z-index: 999;
}

.par {
    color: red;
}